$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;

$white: #fff;
$black: rgb(17, 16, 16);

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$header-height-shrink: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 768px;
$laptop-width: 1024px;
$laptopL-width: 1440px;


$font-family: "Montserrat", sans-serif;